<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option data-target="#all-chat" value="all-chat">Toàn bộ trò chuyện</option>
                <option data-target="#personal-chat" value="personal-chat">Trò chuyện cá nhân</option>
                <option data-target="#group-chat" value="group-chat">Trò chuyện nhóm</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal"
                title="Tạo một nhóm trò chuyện mới"></a>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="all-chat">
                <ul class="people no-padding-start">
                    <% conversations.forEach(function (conversation) { %>
                        <% if (conversation.userAmount > 2) { %>
                            <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                                <li class="person group-chat" data-chat="<%= conversation._id %>">
                                    <div class="left-avatar">
                                        <!-- <div class="dot"></div> -->
                                        <img src="images/users/<%= conversation.avatar %>" alt="">
                                    </div>
                                    <div class="name">
                                        <span class="group-chat-name">Group:</span> <%= conversation.name %>
                                    </div>
                                    <div class="preview"><%- clientUtil.getLastMessageAsPreview(conversation.messages) %></div>
                                    <div class="time"><%= conversation.updatedAtText %></div>
                                </li>
                            </a>
                        <% } else { %>
                            <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                                <li class="person" data-chat="<%= conversation._id %>">
                                    <div class="left-avatar">
                                        <div class="dot"></div>
                                        <img src="images/users/<%= conversation.avatar %>" alt="">
                                    </div>
                                    <div class="name">
                                            <%= conversation.name %>
                                    </div>
                                    <div class="preview"><%- clientUtil.getLastMessageAsPreview(conversation.messages) %></div>
                                    <div class="time"><%= conversation.updatedAtText %></div>
                                </li>
                            </a>
                        <% } %>
                    <% }); %>
                </ul>
            </div>
            <div class="tab-pane" id="personal-chat">
                <ul class="people no-padding-start">
                    <% personalConversations.forEach(function (conversation) { %>
                        <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                            <li class="person" data-chat="<%= conversation._id %>">
                                <div class="left-avatar">
                                    <div class="dot"></div>
                                    <img src="images/users/<%= conversation.avatar %>" alt="">
                                </div>
                                <div class="name">
                                        <%= conversation.name %>
                                </div>
                                <div class="preview"><%- clientUtil.getLastMessageAsPreview(conversation.messages) %></div>
                                <div class="time"><%= conversation.updatedAtText %></div>
                            </li>
                        </a>
                    <% }); %>
                </ul>
            </div>
            <div class="tab-pane" id="group-chat">
                <ul class="people no-padding-start">
                    <% groupConversations.forEach(function (conversation) { %>
                        <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                            <li class="person group-chat" data-chat="<%= conversation._id %>">
                                <div class="left-avatar">
                                    <!-- <div class="dot"></div> -->
                                    <img src="images/users/<%= conversation.avatar %>" alt="">
                                </div>
                                <div class="name">
                                    <span class="group-chat-name">Group:</span> <%= conversation.name %>
                                </div>
                                <div class="preview"><%- clientUtil.getLastMessageAsPreview(conversation.messages) %></div>
                                <div class="time"><%= conversation.updatedAtText %></div>
                            </li>
                        </a>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>
